<nav>
    <div class="nav-left-wrapper">
        <h1 class="nav-title"><a href="/">Bijay's Bloc</a></h1>
        <p>Home of the random thoughts</p>
    </div>

    <div class="nav-right-wrapper">
        <p><a href="/">Blogs</a></p>
        <p><a href="/about">About</a></p>
        <p><a href="/blogs/create">New Blog</a></p>
    </div>
</nav>