<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <h1>ERROR! </h1>
        <p class="screen-message">
            :( <br><br>
            <%= message %>
        </p>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>